@inherits LayoutComponentBase

<PageTitle>ELM.Web</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <LoginDisplay/>
            <Add_Attendence/>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
