<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ELM.Web</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
           <div class="nav-item px-3">
            <NavLink class="nav-link" href="Alert">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Notification
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="radzenpage">
                <span class="oi oi-list-rich" aria-hidden="true"></span> RadzenGrid
            </NavLink>
        </div>

        <AuthorizeView Roles="Admin">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="listofemployee">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Employees
            </NavLink>
        </div> 
        </AuthorizeView>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="ListOfAttendence">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Attendence
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="ListOfSalaries">
                <span class="oi oi-list-rich" aria-hidden="true"></span>salary
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="Test">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Test
            </NavLink>
        </div>
       @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="location">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Location
            </NavLink>
        </div>*@
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="listofleaves">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Leaves
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="RegisterUser">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Register User
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="listofuser">
                <span class="oi oi-list-rich" aria-hidden="true"></span> All User
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
