@page "/UserComponent"
@inject NavigationManager UriHelper
<h3 style="color:white">User View</h3>
<div class="mb-3">
    <label for="Name" style="color:white" class="form-label">Add Role</label>
    <div class="col-md-4">
        <input type="text" class="form-control" @bind="@parameter" required />
    </div>
</div>
<button class="btn btn-primary" @onclick="OnClick">Submit</button>
@code {
    private string parameter;
    private void OnClick()
    {
        if (parameter != null)
            UriHelper.NavigateTo($"NavMenu/{parameter}");
    }

}
